*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color:rgb(255, 255, 255);
}
.nav-bar{
    border:2px solid white;
    background-color:#0f1111;
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    height:65px;
    width:100%;

}
.left-nav{
    width: 15%;
    height:60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    height:60px;
    width:120px;
    background-image:url(/amazon_logo.png);
    background-size:cover;
    border:1px solid transparent;
}
.logo:hover{
    color:white;
}
.address{
    width: 100px;
    display:flex;
    align-items:center;
    padding-bottom:5px;
}
.location-icon{
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items:end;
    padding-bottom: 8px;
}
.location-icon i{
    color:white;
    font-size:20px;
}
.india{
    height: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.india-top{
    font-size: 14px;
    color: rgb(189, 187, 187);
}
.india-bottom{
    font-size: 17px;
    font-weight: 700;
}
.center-nav{
    width: 55%;
    height: 60px;
    display:flex;
    align-items:center;

}
.all{
    display:flex;
    align-items:center;
    text-align:center;
}
.search-select{
    height:40px;
    width:60px;
    border-radius:5px 0px 0px 5px;
    background-color:#E6E6E6;
}
#search-inpute{
    height:40px;
    width:610px;
    display: flex;
}
.search-icon{
    display:flex;
    justify-content: center;
    align-items:center;
    height:38px;
    width:48px;
    background-color:rgb(248, 175, 39);
    border-radius:0px 5px 5px 0px;

}
.search-icon i{
    color:black;
    font-size:20px; 
}

.nav-right{
    width: 30%;
    height: 60px;
    display:flex;
}
.flag{
    height:60px;
    width:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:10px;
}
.flag-img img{
    height: 16px;
     width:22px;
     padding-right:5px;

}
.Language{ 
    height:15px;
    width:20px;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}
.Identificate{
    height:60px;
    width:115px;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.Identificate-top{
    color:white;
    font-size:0.7rem;
    padding:3px 0px 0px 10px;
}
.Identificate-bottom{
    color:white;
    font-weight:700;
    padding:0px 0px 5px 5px;
}

.Pedidos{
    height:60px;
    width:100px;
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
}
.Pedidos-top{
    color:white;
 font-size:0.7rem;
 padding:3px 0px 0px 10px;
}
.Pedidos-bottom{
    color:white;
 font-weight:700;
 padding:0px 0px 5px 5px;
}
.carrito{
    height:60px;
    width:100px;
    display: flex;
    justify-content:center;
    align-items:center;
    padding-top:30px;
}
.carrito-icon i{
    color:white;
    font-size:30px;
    height:60px;
    width:60px;
    align-items:center;
    justify-content:center;
    padding-left:10px;
}
.carrito-right{
    color:white;
    font-weight:700;
    height:60px;
    width: 20px;
    padding:8px 30px 0px 0px ;
}
.panel{
    height:38px;
    width:100%;
    background-color:#222f3d;
    display:flex;
}
.panel-icon{
    justify-content:start;
    align-items:center;
    display:flex;
    padding-left:15px;
    width:6.5%;
}
.bar-icon i{
    width:20px;
    height:20px;
    color:white;
    font-size:20px;
}
.todo{
    color:white;
    padding-left:3px;
}
.panel-option{
    height:38px;
    width:38%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    color:white;
    font-weight:400;
}
.ofertas{
    height:38;
    width:120px;
}
.Servicio{
    height:38;
    width:130px;
}
.Listas{
    height:38;
    width:50px;
}
.Tarjetas{
    height:38;
    width:130px;
}
.vender{
    height:38;
    width:50px;
}.back-img img{
    height:620px;
    width:100%;
    /* background-image:url(/amazon-back-img.jpg); */
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.header{
    height:3540px;
    width:100%;
}
.card-container{
    width: 100%;
    height: 3250px;
    background-color:lightgrey;
    position: relative;
    bottom: 376px;
}
.top-card-container{
    display: flex;
    justify-content: space-evenly;
}
.card{
    height:400px;
    width:330px;
    margin:10px;
    padding:10px;
    background-color:white;
}
.img-card{
    justify-content:center;
    display:flex;
   justify-content: space-evenly;
   flex-direction:column;
}
.header-card{
    margin: 10px 7px;
    font-family: Arial,sans-serif;
    font-size:15px;
}
.products-top{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-content: center;
    height: 150px;
    width:100%;
}
.product{
    height:130px;
    width:150px; 
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction:column;  
}
.product img{
    height:120px;
    width:135px;
}
.product-ops{
    height:30px;
    width:140px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.product-ops p{
 margin:5px 60px 0px 0px;
 color:rgb(97, 95, 95);
 font-size:14px;


}
.fotter-card{
    height:30px;
    width:120px;
    display:flex;
    justify-content: center;
    margin-bottom:50px 80px;
}
.cpu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cpu img{
    height:260px;
    width:270px;
}
.phone img{
    height:120px;
    width:240px;
    margin:20px 0px 0px 25px;
}
.phone p{
    margin-left:25px;
    color:rgb(97, 95, 95);
}
.electronics{
    height:120px;
    width:100%;
    display:flex;
    justify-content:space-evenly;
}
.tablet img{
    height:100px;
    width:90px;
}
.tablet p{
    color:rgb(97, 95, 95);
}

.laptop img{
    height:100px;
    width:100px;
    
}
.laptop p{
    color:rgb(97, 95, 95);
}
.tv img{
    height:100px;
    width:90px;
    color:rgb(97, 95, 95);
}
.tv p{
    color:rgb(97, 95, 95);
}
.img-top{
    display:flex;
}
.img-bottom{
    display:flex;
}
.compra{
    height:280px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.compra img{
    height:270px;
    width:275px;
}
.kit{
    height:30px;
    width:250px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.offer{
    height:24px;
    width:93px;
    color:white;
    border-radius:1px;
    font-size:12px;
    background-color:rgb(221, 6, 88);
}
.offer-kit{
    color:red;
    font-size:14px;

}
.Mejores{
    height:220px;
    width:90%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.Mejores img{
    height:200px;
    width:200px;
}
.Libros{
    height:290px;
    width:100%;
    background-color:white;
}
.books{
    height:210px;
    width:145px;
    display:flex;
    justify-content:center;
    align-items:center; 
}
.books-card{
    height:220px;
    width:100%;
     display:flex;
     justify-content:space-evenly;
     align-items:center; 
 }
.bunny-cat{
    height:210px;
    width:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.bunny-cat img{
    height:200px;
    width:200px;
}
.bounty{
    height:210px;
    width:180px;
}
.bottel-blue{
    height:210px;
    width:105px;
}
.nespresso{
    height:210px;
    width:235px;

}
.bottel{
    height:210px;
    width:60px;
}
.papers{
    height:210px;
    width:300px;
}
.papers img{
    height:210px;
    width:270px;
}
.presto{
    height:210px;
    width:290px;
}
.presto img{
    height:210px;
    width:270px;
}
.card-game{
    height:420px;
    width:100%;
    display:flex;
}
.bag{
    height:210px;
    width:160px;
}
.TV-card{
    height:210px;
    width:160px;
}
.Identificate-bott{
    height:100px;
    width: 100%;
    display:flex;
    margin:5px;
    justify-content:center;
    align-items:center;
    background-color:white;
}
.singin-tittel{
    font-size:14px;
}
.action-inner button{
    height:20px;
    width:230px;
    border-radius:6px;
    font-family:Arial,sans-serif;
    background-color:rgb(252, 172, 23);
}
.singin-tooltip{
    font-size:0.7rem;
}
.footer-back-top{
    height:40px;
    width:100.5%;
    display:flex;
    color:white;
    justify-content:center;
    align-items:center;
    background-color:#2c4057;
}
.footer-back-top-text{
    height:20px;
    width:9%;
    font-family:Arial,sans-serif;
}
.fotter-back-second{
    height:550px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    background-color:#1b2136;
}
.Conócenos-card{
    height:300px;
    width:200px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    margin-bottom:50px;
}
.fotter-head{
    height:30px;
    width:200px;
    display:flex;
    justify-content:left;
    align-items:center;
    color:white;
    font-size:16px;
}
.fotter-card{
    height:20px;
    width:190px;
    color:white;
    font-size:13px;
    justify-content:left;
    font-family:Arial, sans-serif;
    border:1px solid transparent;
}
.Gana{
    height:350px;
    width:250px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
}
.Productos{
    height:200px;
    width:230px;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    display:flex;
    margin-bottom:11%;
}
.Podemos{
    height:300px;
    width:200px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    margin-bottom:50px;
}
.fotter-logo-text{
    height:100px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#1b2136;
}
.amazon-fotter-png{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:45px;
}
.amazon-fotter-png img{
    height:60px;
    width:100px;
}
.tuch-link{
    height:35px;
    width:130px;
    display:flex;
    justify-content:left;
    align-items:center;
    border:1px solid rgb(175, 173, 173);
    border-radius:5px;
    margin:10px;
}
.country-icon i{
    height:15px;
    width:13px;
    color:lightgray;
    margin:20px;
}
.espanol{
    font-size:15px;
    color:lightgray;
    margin:16px 20px 15px 10px;
}
.cop-icp-button{
    height:35px;
    width:230px;
    display:flex;
    justify-content:left;
    align-items:center;
    color:lightgray;
    border-radius:5px;
    margin:10px;
    border:1px solid rgb(175, 173, 173);
}
.dollar-icon i{
    margin:10px;
}
.country-icp-button{
    height:35px;
    width:180px;
    display:flex;
    justify-content:left;
    border-radius:5px;
    align-items:center;
    border:1px solid rgb(175, 173, 173);
}
.country-icp-button img{
    height: 15px;
    width:20px;
    margin:10px;
}
.country-icp-button p{
    color:lightgray;
}


